<div class="white-card">
    <div class="flex">
        <div>
            <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
        </div>
        <h6 class="mt-0 mb-2 page-title-text">Breadcrumbs</h6>
    </div>
    <span class="description-text">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</span>
</div>

<div class="mt-4">
    <ng-container *ngFor="let item of data">
        <div class="white-card mb-4">
            <div class="flex justify-between">
                <h1 class="card-title-text mt-0 mb-2">{{item.title}}</h1>
                <app-breadcrumb-widget [data]="item"></app-breadcrumb-widget>
            </div>
        </div>
    </ng-container>
</div>