<div class="white-card">
    <div class="flex">
        <div>
            <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
        </div>
        <h6 class="mt-0 mb-2 page-title-text">Range</h6>
    </div>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>
</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Ranfe Slider example</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>

    <label for="default-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
        range</label>
    <input id="default-range" type="range" value="50"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">

</div>
<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Disabled state</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>

    <label for="disabled-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
        range</label>
    <input id="disabled-range" type="range" value="50"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700" disabled="">

</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Min and max</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>

    <label for="minmax-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Min-max
        range</label>
    <input id="minmax-range" type="range" min="0" max="10" value="5"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">

</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Steps</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>

    <label for="steps-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Range steps</label>
    <input id="steps-range" type="range" min="0" max="5" value="2.5" step="0.5"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">

</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Sizes</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>

    <label for="small-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Small range</label>
    <input id="small-range" type="range" value="50"
        class="mb-6 w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">

    <label for="medium-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
        range</label>
    <input id="medium-range" type="range" value="50"
        class="mb-6 w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">

    <label for="large-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Large range</label>
    <input id="large-range" type="range" value="50"
        class="w-full h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer range-lg dark:bg-gray-700">

</div>