<flowbite-demo-page>
    <flowbite-demo-example title="Default accordion" codeClassName="dark:!bg-gray-900 divide-y">
        <flowbite-accordion [flush]="data?.flush">
            <flowbite-accordion-panel [open]="data.open">
                <flowbite-accordion-title [data]="data" class="content-title-text">
                    {{data.buttonTitle}}
                </flowbite-accordion-title>
                <flowbite-accordion-content>
                    <ng-content></ng-content>
                </flowbite-accordion-content>
            </flowbite-accordion-panel>
        </flowbite-accordion>
    </flowbite-demo-example>
</flowbite-demo-page>