<div class="white-card">
    <div class="flex">
        <div>
            <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
        </div>
        <h6 class="mt-0 mb-2 page-title-text">File Inputs</h6>
    </div>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>
</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Default file upload</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Upload file</label>
    <input
        class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        id="file_input" type="file">
</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Helper text</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Upload file</label>
    <input
        class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        aria-describedby="file_input_help" id="file_input" type="file">
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).
    </p>
</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Multiple files</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="multiple_files">Upload multiple
        files</label>
    <input
        class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        id="multiple_files" type="file" multiple="">
</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Sizes</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="small_size">Small file
        input</label>
    <input
        class="block mb-5 w-full text-xs text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        id="small_size" type="file">

    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="default_size">Default
        size</label>
    <input
        class="block mb-5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        id="default_size" type="file">

    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="large_size">Large file
        input</label>
    <input
        class="block w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        id="large_size" type="file">
</div>

<div class="white-card mt-4">
    <h1 class="card-title-text mt-0 mb-2">Dropzone</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
        within your website.</span>
    <div class="flex justify-center items-center w-full">
        <label for="dropzone-file"
            class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
                <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                    </path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                        upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden">
        </label>
    </div>
</div>