.divider-center-text {
  color: rgb(107 114 128 / var(1));
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.divider-line {
  background-color: rgb(229 231 235);
  height: 0.125rem;
  width: 100%;
}

.divider-div {
  display: flex;
  align-items: center;
  margin-bottom: calc(1.5rem * var(0));
  margin-top: calc(1.5rem * (1 - var(0)));
}

.illustration-img {
  width: 45%;
  height: 45%;
  margin-top: 5rem;
}
