<div class="white-card">
  <div class="flex">
    <div>
      <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
    </div>
    <h6 class="mt-0 mb-2 page-title-text">Accordian</h6>
  </div>
  <span class="description-text">Use these default button styles with multiple colors to indicate an action or link
    within your website.</span>
</div>

<div class="mt-4">
  <div class="grid grid-cols-2 gap-2">

    <!-- Default accordion -->
    <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Default Accordion</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <app-accordion-widget [data]="accordion1Data[0]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>
        <app-accordion-widget [data]="accordion1Data[1]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to get started
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>
      </div>
    </div>

    <!-- Default open -->
    <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Always open</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <app-accordion-widget [data]="accordion2Data[0]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion2Data[1]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>
      </div>
    </div>

    <!-- Arrow style -->
    <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Arrow Style</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <app-accordion-widget [data]="accordion5Data[2]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion5Data[1]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>
      </div>
    </div>

    <!-- Flush Accordion -->
    <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Flush Accordion</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <app-accordion-widget [data]="accordion4Data[0]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion4Data[1]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>
      </div>
    </div>

    <!-- Color Accordion -->
    <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Color Accordion</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <app-accordion-widget [data]="accordion3Data[0]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion3Data[1]">
          <p class="mb-2 text-gray-500 dark:text-gray-400">
            Flowbite is an open-source library of interactive components
            built on top of Tailwind CSS including buttons, dropdowns,
            modals, navbars, and more.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Check out this guide to learn how to
            <a class="text-blue-600 hover:underline dark:text-blue-500"
              href="https://flowbite.com/docs/getting-started/introduction/">
              get started
            </a>
            and start developing websites even faster with components on top
            of Tailwind CSS.
          </p>
        </app-accordion-widget>
      </div>
    </div>
  </div>

  <!-- Always open -->
  <!-- <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Always open</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <app-accordion-widget [data]="accordion2Data[0]">
          <div id="accordion-open-body-1" class="hidden" aria-labelledby="accordion-open-heading-1">
            <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
              <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive
                components
                built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
              <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a
                  href="/docs/getting-started/introduction/"
                  class="text-blue-600 dark:text-blue-500 hover:underline">get
                  started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
            </div>
          </div>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion2Data[1]">
          <div id="accordion-open-body-2" class="hidden" aria-labelledby="accordion-open-heading-2">
            <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the
                Figma
                software so everything you see in the library has a design equivalent in our Figma file.</p>
              <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/"
                  class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility
                classes from Tailwind CSS and components from Flowbite.</p>
            </div>
          </div>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion2Data[2]">
          <div id="accordion-open-body-3" class="hidden" aria-labelledby="accordion-open-heading-3">
            <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from
                Flowbite
                are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that
                Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
              <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite,
                Flowbite
                Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two
                worlds.
              </p>
              <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
              <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
                <li><a href="https://flowbite.com/pro/"
                    class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite
                    Pro</a></li>
                <li><a href="https://tailwindui.com/" rel="nofollow"
                    class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
              </ul>
            </div>
          </div>
        </app-accordion-widget>
      </div>
    </div> -->

  <!-- Color option -->
  <!-- <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Color options</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <div id="accordion-color" data-accordion="collapse"
          data-active-classes="mt-4 bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
          <app-accordion-widget [data]="accordion3Data[0]">
            <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
              <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive
                  components
                  built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a
                    href="/docs/getting-started/introduction/"
                    class="text-blue-600 dark:text-blue-500 hover:underline">get
                    started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
              </div>
            </div>
          </app-accordion-widget>

          <app-accordion-widget [data]="accordion3Data[1]">
            <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
              <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the
                  Figma
                  software so everything you see in the library has a design equivalent in our Figma file.</p>
                <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/"
                    class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the
                  utility
                  classes from Tailwind CSS and components from Flowbite.</p>
              </div>
            </div>
          </app-accordion-widget>

          <app-accordion-widget [data]="accordion3Data[2]">
            <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
              <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from
                  Flowbite
                  are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is
                  that
                  Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.
                </p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite,
                  Flowbite
                  Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two
                  worlds.
                </p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
                <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
                  <li><a href="https://flowbite.com/pro/"
                      class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite
                      Pro</a></li>
                  <li><a href="https://tailwindui.com/" rel="nofollow"
                      class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
                </ul>
              </div>
            </div>
          </app-accordion-widget>
        </div>
      </div>
    </div> -->

  <!-- Flush accordion -->
  <!-- <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Flush accordion</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>
        <div id="accordion-flush" data-accordion="collapse"
          data-active-classes="mt-4 bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
          data-inactive-classes="text-gray-500 dark:text-gray-400">
          <app-accordion-widget [data]="accordion4Data[0]">
            <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
              <div class="py-5 font-light border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive
                  components
                  built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a
                    href="/docs/getting-started/introduction/"
                    class="text-blue-600 dark:text-blue-500 hover:underline">get
                    started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
              </div>
            </div>
          </app-accordion-widget>

          <app-accordion-widget [data]="accordion4Data[1]">
            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
              <div class="py-5 font-light border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the
                  Figma
                  software so everything you see in the library has a design equivalent in our Figma file.</p>
                <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/"
                    class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the
                  utility
                  classes from Tailwind CSS and components from Flowbite.</p>
              </div>
            </div>
          </app-accordion-widget>

          <app-accordion-widget [data]="accordion4Data[2]">
            <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
              <div class="py-5 font-light border-b border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from
                  Flowbite
                  are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is
                  that
                  Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.
                </p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite,
                  Flowbite
                  Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two
                  worlds.
                </p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
                <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
                  <li><a href="https://flowbite.com/pro/"
                      class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite
                      Pro</a></li>
                  <li><a href="https://tailwindui.com/" rel="nofollow"
                      class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
                </ul>
              </div>
            </div>
          </app-accordion-widget>
        </div>
      </div>
    </div> -->

  <!-- Arrow style -->
  <!-- <div class="white-card">
      <div class="flex flex-col p-4">
        <h1 class="card-title-text mt-0 mb-2">Arrow style</h1>
        <span class="description-text">Use these default button styles with multiple colors to indicate an action or
          link
          within your website.</span>

        <app-accordion-widget [data]="accordion5Data[0]">
          <div id="accordion-arrow-icon-body-1" aria-labelledby="accordion-arrow-icon-heading-1">
            <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
              <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive
                components
                built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
              <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a
                  href="/docs/getting-started/introduction/"
                  class="text-blue-600 dark:text-blue-500 hover:underline">get
                  started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
            </div>
          </div>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion5Data[1]">
          <div id="accordion-arrow-icon-body-2" class="hidden" aria-labelledby="accordion-arrow-icon-heading-2">
            <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the
                Figma
                software so everything you see in the library has a design equivalent in our Figma file.</p>
              <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/"
                  class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility
                classes from Tailwind CSS and components from Flowbite.</p>
            </div>
          </div>
        </app-accordion-widget>

        <app-accordion-widget [data]="accordion5Data[2]">
          <div id="accordion-arrow-icon-body-3" class="hidden" aria-labelledby="accordion-arrow-icon-heading-3">
            <div class="p-5 font-light border border-t-0 border-gray-200 dark:border-gray-700">
              <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from
                Flowbite
                are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that
                Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
              <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite,
                Flowbite
                Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two
                worlds.
              </p>
              <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>
              <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
                <li><a href="https://flowbite.com/pro/"
                    class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite
                    Pro</a></li>
                <li><a href="https://tailwindui.com/" rel="nofollow"
                    class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
              </ul>
            </div>
          </div>
        </app-accordion-widget>
      </div>
    </div> -->
  <!--  </div>
  </div> -->