<div class="white-card">
  <div class="flex">
    <div>
      <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
    </div>
    <h6 class="mt-0 mb-2 page-title-text">Accordian</h6>
  </div>
</div>

<div class="white-card mt-4">
  <div class="flex flex-col p-4">
    <!--  <div x-data="{
      open: false,
      toggle() {
          if (this.open) {
              return this.close()
          }
  
          this.$refs.button.focus()
  
          this.open = true
      },
      close(focusAfter) {
          if (! this.open) return
  
          this.open = false
  
          focusAfter && focusAfter.focus()
      }
  }" x-on:keydown.escape.prevent.stop="close($refs.button)"
      x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']"
      class="relative">
      <button
        class="accordion-button flex items-center w-full py-4 px-5 text-base text-gray-800 text-left bg-white border-0 rounded-none transition focus:outline-none"
        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
        aria-controls="flush-collapseOne" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
        x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')">
        <p>Container 1</p>
        <span ngClass="{{open ? 'fa-chevron-down' : 'fa-chevron-up'}}" class="fas"></span>
      </button>
      <div x-ref="panel" x-show="open" :id="$id('dropdown-button')" style="display: none"
        class="accordion-collapse border-0 collapse show transition-all" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius vel magna lacinia mollis. Class aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ligula neque, imperdiet
        nec est laoreet, pulvinar commodo odio. Vivamus eget eleifend libero. Fusce dolor nibh, porta eu gravida ut,
        maximus non erat.
      </div>
    </div> -->

    <div class="accordion" id="accordionExample">
      <div class="accordion-item bg-white border border-gray-200">
        <div x-data="{
          open: false,
          toggle() {
              if (this.open) {
                  return this.close()
              }
      
              this.$refs.button.focus()
      
              this.open = true
          },
          close(focusAfter) {
              if (! this.open) return
      
              this.open = false
      
              focusAfter && focusAfter.focus()
          }
      }" x-on:keydown.escape.prevent.stop="close($refs.button)"
          x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']"
          class="relative">
          <h2 class="accordion-header mb-0" id="headingOne">
            <button class="
              accordion-button
              relative
              flex
              items-center
              w-full
              py-4
              px-5
              text-base text-gray-800 text-left
              bg-white
              border-0
              rounded-none
              transition
              focus:outline-none card-title-text
            " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
              aria-expanded="false" aria-controls="flush-collapseOne" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false" x-ref="button" x-on:click="toggle()" :aria-expanded="open"
              :aria-controls="$id('dropdown-button')">
              Accordion Item #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample" x-ref="panel" x-show="open" :id="$id('dropdown-button')"
            style="display: none">
            <div class="card-title-text accordion-body py-4 px-5">
              <strong>This is the first item's accordion body.</strong> It is shown by default,
              until the collapse plugin adds the appropriate classes that we use to style each
              element. These classes control the overall appearance, as well as the showing and
              hiding via CSS transitions. You can modify any of this with custom CSS or overriding
              our default variables. It's also worth noting that just about any HTML can go within
              the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
