<aside class="w-64 h-screen" aria-label="Sidebar">
   <div
      class="w-full bg-white dark:bg-gray-800 overflow-x-hidden overflow-y-auto h-full py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
      <span class="sidebar-separator">Navigation</span>
      <ul class="space-y-2 m-2">
         <li>
            <app-dropdown-widget [menu]="menu"></app-dropdown-widget>
         </li>
      </ul>

      <span class="sidebar-separator">UI Elements</span>
      <ul class="space-y-2 m-2">
         <li>
            <app-dropdown-widget [menu]="menu2"></app-dropdown-widget>
         </li>
      </ul>

      <span class="sidebar-separator">Forms</span>
      <ul class="space-y-2 m-2">
         <li>
            <app-dropdown-widget [menu]="menu3"></app-dropdown-widget>
         </li>
      </ul>
   </div>
</aside>