/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// @import "~highlight.js/styles/github.css";

.white-card {
  @apply px-6 py-4 rounded bg-white dark:bg-slate-800 shadow-xl border;
}

.description-text {
  @apply text-sm text-[#919aa3];
}

.page-title-text {
  @apply text-xl text-[#303548] font-semibold;
}

.card-title-text {
  @apply text-xl text-[#505458] font-semibold;
}

.content-title-text {
  @apply text-base;
}

.content-description-text {
  @apply text-sm;
}

.stepper:not(.stepper-vertical)
  .stepper-connector-default:not(:first-child)
  .stepper-head:before {
  flex: 1;
  height: 1px;
  width: 100%;
  margin-right: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}

.stepper:not(.stepper-vertical)
  .stepper-connector-default:not(:last-child)
  .stepper-head:after {
  flex: 1;
  height: 1px;
  width: 100%;
  margin-left: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}

.stepper-connector-progressive-completed {
  @apply after:content-[''] after:w-full after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-blue-800;
}

.stepper-vertical .stepper-connector-default:not(:last-child):after {
  position: absolute;
  left: 2.25rem;
  height: calc(100% - 2.45rem);
  top: 3rem;
  width: 1px;
  margin-top: 0.5rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-menu-item-selected {
  background-color: rgb(243 244 246 / var(1));
}

.divider-div {
  display: flex;
  align-items: center;
  margin-bottom: calc(1.5rem * var(0));
  margin-top: calc(1.5rem * (1 - var(0)));
}

.divider-center-text {
  color: rgb(107 114 128 / var(1));
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.divider-line {
  background-color: rgb(229 231 235);
  height: 0.125rem;
  width: 100%;
}
