/* You can add global styles to this file, and also import other style files */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// @import "~highlight.js/styles/github.css";

// @apply px-6 py-4 rounded overflow-hidden shadow-lg hover:shadow-[#00000082] dark:hover:shadow-black shadow-[#00000047] dark:shadow-[#0000008c] bg-white dark:bg-slate-800 m-4 min-w-full min-h-full
.white-card {
  @apply px-6 py-4 rounded bg-white dark:bg-slate-800 shadow-xl border;
}

.description-text {
  @apply text-sm text-[#919aa3];
}

.page-title-text {
  @apply text-xl text-[#303548] font-semibold;
}

.card-title-text {
  @apply text-xl text-[#505458] font-semibold;
}

.content-title-text {
  @apply text-base;
}

.content-description-text {
  @apply text-sm;
}

.default {
  background-color: rgb(145, 154, 163);
}

.warning {
  background-color: rgb(255, 182, 77);
}

.danger {
  background-color: rgb(252, 97, 128);
}

.success {
  background-color: rgb(147, 190, 82);
}

.info {
  background-color: rgb(98, 209, 243);
}

.sidebar-menu-item-selected {
  background-color: rgb(243 244 246 / var(1));
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #bed3da 14%, #9a9ea2 64%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #a6b7bc 14%, #4c4d4e 64%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}
