<div class="white-card">
    <div class="flex">
        <div>
            <i class="icofont icofont-chart-bar-graph bg-c-blue"></i>
        </div>
        <h6 class="mt-0 mb-2 page-title-text">Stepper</h6>
    </div>
    <span class="description-text">Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit</span>
</div>

<div class="mt-4 white-card">
    <h1 class="card-title-text mt-0 mb-2">Horizontal Card</h1>
    <span class="description-text">Use these default button styles with multiple colors to indicate an action or
        link
        within your website.</span>
    <div class="mt-2 text-center">
        <div class="p-4">
            <stepper [stepElement]="'horizontal'">
                <stepper-tab [stepData]="step1Data">
                    <ng-container [ngTemplateOutlet]="formTemp"></ng-container>
                </stepper-tab>
                <stepper-tab [stepData]="step2Data">
                    <ng-container [ngTemplateOutlet]="textTemp"></ng-container>
                </stepper-tab>
                <stepper-tab [stepData]="step3Data">
                    <ng-container [ngTemplateOutlet]="btnTemp"></ng-container>
                </stepper-tab>
            </stepper>
        </div>
    </div>
</div>

<ng-template #formTemp>
    <form action="#">
        <h3 class="mb-4 text-lg font-medium leading-none text-gray-900 dark:text-white">Invoice details
        </h3>
        <div class="grid gap-4 mb-4 sm:grid-cols-2">
            <div>
                <label for="username"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <input type="text" name="username" id="username"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="username.example" required="">
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" name="email" id="email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="name@company.com" required="">
            </div>
            <div>
                <label for="password"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" name="password" id="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="•••••••••" required="">
            </div>
            <div>
                <label for="confirm-password"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                    password</label>
                <input type="password" name="confirm-password" id="confirm-password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="•••••••••" required="">
            </div>
        </div>
        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Next Step: Payment Info
        </button>
    </form>
</ng-template>

<ng-template #textTemp>
    <p>Text goes here</p>
</ng-template>

<ng-template #btnTemp>
    <app-button-widget>Default</app-button-widget>
</ng-template>